**/node_modules/
**/target/
**/.DS_Store
*.log
02_백엔드세미용/
KuroStep/
infra/
.github/workflows/backend-ci.yml
.github/workflows/deploy-ec2.yml
.idea/
**/.idea/
**/build/
**/.gradle/
**/.terraform/
*.iml
HELP.md
02_백엔드세미용/playlist_260404_0/
02_백엔드세미용/*.pdf
